.pokemons{
    display:flex;
    flex-wrap: wrap;
}

.pok{
    display: flex;
    align-items: center;
}

.pokemon_name{
    background-color: #000;
    color: #fff;
    width: 200px;
    margin: 20px;
    padding: 10px;
}